body{background-color: lightblue;}

h1{
    color: white;
    text-align: center;
    background-color: black;
}
h2{
    font-style: italic;
    font-weight:bolder;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}
p{font-size: x-large;}

.goals{
font-size: x-large;
line: height 1.6;}

.link{
    color: red;
}

div{
    display: flex;
    justify-content: center;
}
img{
    width: 50%;
}